site_name: Open Geodata model

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - toc.follow

repo_url: https://github.com/openkfw/open-geodata-model
edit_uri: edit/main/docs/

nav:
  - "index.md"
  - "Example: Open Geodata": tutorials/open_data_on_broadband_in_egypt.ipynb

plugins:
  - mkdocs-jupyter

markdown_extensions:
  - footnotes
  - toc
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
