name: Spooler_tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          pipx install poetry
          poetry install
      - name: Run Tests
        run: |
          poetry run pytest tests
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install Dependencies
      run: |
        pipx install poetry
        poetry install  
    - name: Run pylint
      run: |
        poetry run pylint tests
    - name: Run black
      run: |
        poetry run black --check tests